@charset "UTF-8";
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(24, 26, 27);
    gap: 10px;
    overflow: hidden;
}
h1
{
    color: #fff;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.section
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    gap: 10px;
}
.container
{
    display: grid;
    grid-template-rows: 4rem 1fr;
    width: 80%;
    min-height: 50%;
    height: 60%;
    max-height: 80%;
    background-color: rgb(60, 65, 68);
    border-radius: 20px;
    overflow: hidden;
    resize: vertical;
}
.buttons
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    gap: 5px;
}
input[type="button"]
{
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #303030;
    border-radius: 10px;
}
input[type="button"]:hover
{
    filter: brightness(1.5);
}
.textbox
{
    display: flex;
}
.line-numbers 
{
    counter-reset: line;
    padding: 5px;
    background-color: #303030;
    color: green;
    font-family: monospace;
    user-select: none;
}
.editor
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    resize: none;
    color: rgb(232, 230, 227);
    background-color: rgb(36, 39, 41);
    overflow: visible;
}
.editor::-webkit-scrollbar,.display::-webkit-scrollbar
{
    background: transparent;
    width: 10px;
}
.editor::-webkit-scrollbar-corner
{
    background: transparent;
}
.editor::-webkit-scrollbar-thumb,.display::-webkit-scrollbar-thumb
{
    background-color: #505050;
    border-radius: 20px;
}
.monitor
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 20%;
    max-height: 50%;
    resize: vertical;
    overflow: hidden;
}
.switch
{
    position: absolute;
    top: 50%;
    right: -0.4rem;
    transform: translate(-50%,-50%);
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    color: #fff;
    font-family: monospace;
    font-weight: 600;
    background-color: #303030;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.switch:hover
{
    filter: brightness(1.5);
}
.inputfield
{
    padding: 10px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    resize: none;
    color: #fff;
    background-color: #303030;
    border-radius: 20px;
    transform: translate(-50%);
    outline: none;
    transition: 0.5s;
}
.display
{
    position: relative;
    flex-shrink: 0;
    padding: 15px;
    font-family: monospace;
    color: #fff;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #000;
    border-radius: 20px;
    overflow-y: scroll;
    transform: translate(-50%);
    transition: 0.5s;
    resize: none;
}
.active
{
    transform: translate(50%);
}
.loader
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
}
.loader::before
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    width: 20px;
    height: 20px;
    background-color: #303030;
    transform-origin: 0px 0px;
    animation: rotate 1s linear infinite;
    border-bottom-right-radius: 50px;
}
.loader::after
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
}
@keyframes rotate
{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
